div.footer-div {
    background-color: yellow;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-div a {
    color: rgba(0, 0, 0, .9);
}

.footer-div a:hover {
    color: rgba(0, 0, 0, 0.600);
}

.footer-div hr {
    width: 0 30vh;
}

.ul-list {
    display: flex;
    justify-content: space-around;
}

.ul-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.ul-list ul li {
    margin: 0 40px;
}

@media (max-width: 768px) {
    div.footer-div {
        flex-direction: column;
        justify-content: initial;
    }

    .ul-list ul {
        padding: 0;
        flex-direction: column;
    }

    .ul-list {

        flex-direction: column;
    }
}