.App {
  text-align: center;
}

.margin {
  margin: 10px;
}

hr {
  margin: 0 10vh;
}

/*section FIRST CONTENT*/

.first-content {
  transition: all 500ms ease-in-out;
  height: inherit;
  background-image: url(./ubwcDK.png);
}

.content {
  background-color: rgba(255, 255, 0, 0.500);
}


.content h1 {
  font-size: 120px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.content h2 {
  font-size: 36px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.overlay-text {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 50px;
}

.overlay-text * {
  padding: 20px 0;
}

.jap-text {
  animation-name: jpn-text;
  animation-duration: 2s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes jpn-text {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ptbr-text {
  opacity: 0;
  animation-name: ptbr-text;
  animation-duration: 2s;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
  z-index: 1000;
}

@keyframes ptbr-text {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .content h1 {
    font-size: 80px;
  }

  .content h2 {
    font-size: 28px;
  }

}

/*section DESCRIPTION*/

.description {
  margin: 40px;
}

.description-text p {
  padding: 40px 80px;
}

@media (max-width: 600px) {
  .description {
    margin: 10px;
  }

  .description-text p {
    padding: 10px;
  }
}

/* section LEARN-COURSE */

.learn-course {
  margin-right: 25vh;
  margin-left: 25vh;
}

.learn-course h3 {
  margin: 40px 0 60px 0;
}

.learn-course h4 {
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(212, 212, 0);
}

.learn-course ol {
  padding: 20px;
  text-align: initial;
}

.k222 {
  border: 1px solid rgb(255, 230, 0);
  border-radius: 4px;
  padding: 10px;
}

.col-sm-3 {
  border-right: 1px solid rgb(212, 212, 0);
}

@media (max-width: 1023px) {
  .learn-course {
    margin-right: 10px;
    margin-left: 10px;
  }

  .learn-course h4 {
    padding: 30px;
  }

  .description-text p {
    padding: 10px;
  }
}

/*section PRECO*/

.div-precos {

  margin: 0 30px;
  display: flex;
  justify-content: space-evenly;
}

.preco h4 {
  margin: 40px 0;
}

.card {

  box-shadow: 10px 10px;
}

.card div:first-child {
  font-size: 30px;
  margin: 20px 0px;
}

.card p {
  margin: 20px 60px;
}


@media (max-width: 700px) {
  .div-precos {
    display: initial;
    margin: initial;
  }

  .card {
    margin: 20px;
    width: initial !important;
  }

  .card p {
    margin: 20px 30px;
  }

}

/*section EMAIL EBOOK*/
.email-input {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  box-shadow: 20px 9px 0px 0px;
}

.form-input-email {
  padding: 20px;

}

/*section Questions-Answers */

.questions-answers {
  margin: 0 40vh 40px 40vh;
}

.questions-answers H4 {
  margin: 40px 0;
}

@media (max-width: 1024px) {
  .questions-answers {
    margin: 0 10px;
  }
}